<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | HubEscolar</title>
    <link rel="stylesheet" href="/css/styles.css">
    <% if (title === 'Central de Advertências') { %>
        <link rel="stylesheet" href="/css/reportCenter.css">
    <% } %>
    <% if (title === 'Advertências') { %>
        <link rel="stylesheet" href="/css/messageTracker.css">
        <meta name="school-id" content="<%= user && user.schoolId ? user.schoolId : '' %>">
    <% } %>
    <% if (title === 'Turmas') { %>
        <link rel="stylesheet" href="/css/grades.css">
    <% } %>
    <% if (title === 'Usuários') { %>
        <link rel="stylesheet" href="/css/users.css">
    <% } %>
    <% if (title === 'Configurações das Ferramentas') { %>
        <link rel="stylesheet" href="/css/featureSettings.css">
    <% } %>
    <% if (title && title.includes('Perfil - ') && typeof school !== 'undefined') { %>
        <link rel="stylesheet" href="/css/school.css">
    <% } %>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <!-- Header com o nome do site e menu -->
    <header>
        <div class="header-container">
            <div class="site-name">
                <a href="/">
                    <img src="/medias/images/logo.png" alt="Logo HubEscolar">
                </a>                
            </div>
            <nav>
                <!-- Ícone de Menu Hambúrguer -->
                <div class="menu-toggle" id="menu-toggle">
                    <span class="menu-bar"></span>
                    <span class="menu-bar"></span>
                    <span class="menu-bar"></span>
                </div>
                <ul class="menu">
                    <li><a href="/">Início</a></li>
                    <li><a href="/recursos">Recursos</a></li>
                    <!-- <li><a href="/planos">Planos</a></li> -->
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/sobre">Sobre</a></li>
                    <li><a href="/contato">Contato</a></li>
                    <li><a id="login-button" href="/login">Login</a></li>
                    <li><a id="logout-btn" class="logout-button" style="display: none;">Logout</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    

    <main>
        <%- body %>
    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-content">
                <div class="footer-section about">
                    <h3>HubEscolar</h3>
                    <p>Esta é uma plataforma digital voltada para a gestão escolar, oferecendo recursos que facilitam o controle de atividades acadêmicas e administrativas, como comunicação entre escola e alunos, monitoramento de desempenho, e gerenciamento de recursos educacionais.</p>
                    <button onclick="location.href='/sobre'">Saiba mais</button>
                </div>
                <div class="footer-section links">
                    <h3>Links Úteis</h3>
                    <ul>
                        <li><a href="/" class="pencil-icon">Página inicial</a></li>
                        <li><a href="/recursos" class="pencil-icon">Conheça nossos recursos</a></li>
                        <li><a href="/planos" class="pencil-icon">Conheça nossos planos</a></li>
                        <li><a href="/blog" class="pencil-icon">Fique por dentro das novidades</a></li>
                        <li><a href="/sobre" class="pencil-icon">Conheça melhor o nosso trabalho</a></li>
                        <li><a href="/contato" class="pencil-icon">Mande uma mensagem</a></li>
                        <!-- Adicione mais links conforme necessário -->
                    </ul>
                </div>
                <div class="footer-section contact">
                    <h3>Contato</h3>
                    <p>Se preferir, mande sua dúvida pelas redes sociais.</p>
                    <div class="imageContact">
                        <a href="https://www.instagram.com/" target="_blank">
                            <img src="/medias/images/insta.png" alt="Instagram">
                        </a>
                        <a href="mailto:contato@felipeguasti.com.br">
                            <img src="/medias/images/email.png" alt="Email">
                        </a>
                        <a href="https://wa.me/5527998873776" target="_blank">
                            <img src="/medias/images/whatsapp.png" alt="WhatsApp">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                 HubEscolar - Sistema de Gestão Escolar | Designed by <a href="http://www.felipeguasti.com.br">Felipe Guasti</a> &#169; All rights reserved
            </div>
        </div>
    </footer>
    <script src="/js/auth.js?v=<%= Date.now() %>"></script>
    <script src="/js/script.js?v=<%= Date.now() %>"></script>
    <% if (title === 'Login') { %>
    <script src="/js/login.js?v=<%= Date.now() %>"></script>
    <% } %>
    <% if (title === 'Cadastro') { %>
        <script src="/js/cadastro.js?v=<%= Date.now() %>"></script>
    <% } %>
    <% if (title === 'Dashboard') { %>
        <script src="/js/dashboard.js?v=<%= Date.now() %>"></script>
    <% } %>
    <% if (title === 'Distritos') { %>
        <script src="/js/district.js?v=<%= Date.now() %>"></script>
    <% } %>
    <% if (title === 'Turmas') { %>
        <script src="/js/grades.js?v=<%= Date.now() %>"></script>
    <% } %>
    <% if (title === 'Usuários') { %>
        <script src="/js/users.js?v=<%= Date.now() %>"></script>
    <% } %>
    <% if (title === 'Advertências') { %>
        <script src="/js/behavior.js?v=<%= Date.now() %>"></script>
        <script src="/js/messageTracker.js?v=<%= Date.now() %>"></script>
    <% } %>
    <% if (title === 'Configurações das Ferramentas') { %>
        <script src="/js/featureSettings.js?v=<%= Date.now() %>"></script>
    <% } %>
    <% if (title === 'Minhas Ferramentas') { %>
        <script src="/js/featureDashboard.js?v=<%= Date.now() %>"></script>
    <% } %>
    <% if (title === 'Relatórios') { %>
        <script src="/js/reportIndex.js?v=<%= Date.now() %>"></script>
    <% } %>
    <% if (title === 'Central de Advertências') { %>
        <script src="/js/reportCenter.js?v=<%= Date.now() %>"></script>
    <% } %>
    <% if (title === 'Administração de Cabeçalhos') { %>
        <script src="/js/reportAdmin.js?v=<%= Date.now() %>"></script>
    <% } %>
    <% if (title && title.includes('Perfil - ') && typeof school !== 'undefined') { %>
        <script src="/js/school.js?v=<%= Date.now() %>"></script>
    <% } %>
</body>
</html>
